Register with a username and password
</p>
<p>
<form action="/register" id= "register" method="post">
    Username: <input name="username" type="text" id="name"/>
</br>
    Password: <input name="password" type="password" />
</br>
    <input type="hidden" id="PublicKey" name="PublicKey" value="Error in public key generation" />
    <input value="Register" type="submit"/>

    <script src="/js/key_manage.js">
        let publicKey = exportPublicKey(keyPair)
        let privateKey = exportPrivateKey(keyPair)
        document.forms["register"].PublicKey.value = publicKey;
        console.log(publicKey)
    </script>
</form>
</p>
</center>
